/*font-family: 'Rock Salt', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Sonsie One', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Smokum', cursive;
font-family: 'Butcherman', cursive;
font-family: 'Asset', cursive;*/

body {
    background-image: url("../images/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 10px;
    border: 10px solid rgb(158, 19, 19);
    border-style: double;
    border-radius: 25px;
    font-family: 'Butcherman', cursive;
    text-align: center;
    font-size: 80px;
    margin: 0px;
    color: rgb(158, 19, 19);
    text-shadow: 2px 2px rgb(233, 220, 220);
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
    padding: 20px;
}

#stats {
    background-color: rgb(233, 220, 220);
    height: 150px;
    display: inline-block;
    width: 30%;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

p {
    font-family: 'Kumar One', cursive;
    font-size: 16px;
    text-align: center;
    color: rgb(29, 28, 28);
    padding: 0px;
    margin: 0px;
}

#target-number {
    font-family: 'Kumar One', cursive;
    font-size: 40px;
     
}

.content {
    display: flex;
}

.skull {
    margin: 0px 38px 40px 38px;
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}

.agate {
    background-image: url("../images/agate-skull.jpg"); 
}

