/*font-family: 'Rock Salt', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Sonsie One', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Smokum', cursive;
font-family: 'Butcherman', cursive;
font-family: 'Asset', cursive;*/

body {
    background-image: url("../images/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 10px;
    border: 10px solid rgb(158, 19, 19);
    border-style: double;
    border-radius: 25px;
    font-family: 'Butcherman', cursive;
    text-align: center;
    font-size: 100px;
    color: rgb(158, 19, 19);
    /*background: -webkit-linear-gradient(#eee, #333);
    --webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Butcherman', cursive;*/
    text-shadow: 2px 2px rgb(233, 220, 220);
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.crystals {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

img {
    padding: 10px;
}

p {
    font-family: 'Kumar One', cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(29, 28, 28);
}

.stats-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stats-items {
    flex-wrap: wrap;
}

.random-number {
    background-color: rgb(233, 220, 220);
    height: 100px;
    width: 31%;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

.score {
    background-color: rgb(233, 220, 220);
    height: 100px;
    width: 31%;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

.win-loss {
    background-color: rgb(233, 220, 220);
    height: 100px;
    width: 31%;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

.btn {
    background-color: rgb(233, 220, 220);
    margin: 10px;
    font-family: 'Kumar One', cursive;
}

.button {
    display: flex;
    justify-content: center;
}