/*font-family: 'Rock Salt', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Sonsie One', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Smokum', cursive;
font-family: 'Butcherman', cursive;
font-family: 'Asset', cursive;*/

h1 {
    margin: 10px;
    border: 10px solid rgb(158, 19, 19);
    border-style: double;
    border-radius: 25px;
    font-family: 'Butcherman', cursive;
    text-align: center;
    font-size: 80px;
    margin: 0px;
    color: rgb(158, 19, 19);
    text-shadow: 2px 2px rgb(233, 220, 220);
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
    padding: 20px;
}

.display-4 {

}

body {
    background-image: url("../images/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}